<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <div class="card card-wizard" id="wizardCard">
          <div class="content">
            <ul class="nav nav-pills">
              <li><a href="#tab1" data-toggle="tab">Datos </a></li>
              <li><a href="#tab2" data-toggle="tab">Mision </a></li>
              <li><a href="#tab3" data-toggle="tab">Interfaz </a></li>
              <li><a href="#tab4" data-toggle="tab">Instrucc </a></li>
              <li><a href="#tab5" data-toggle="tab">Experien </a></li>
              <li><a href="#tab6" data-toggle="tab">Capacitac </a></li>
              <li><a href="#tab7" data-toggle="tab">A.Esencial</a></li>
              <li><a href="#tab8" data-toggle="tab">Adicional</a></li>
              <li><a href="#tab9" data-toggle="tab">A.Puesto</a></li>
              <li><a href="#tab10" data-toggle="tab">Comp.Con</a></li>
              <li><a href="#tab11" data-toggle="tab">Comp.Tec</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="tab1">
                <form #addPuesto="ngForm" id="addC" (ngSubmit)="Comprobar(addPuesto);">

                  <br>
                  <br>
                  <h5 class="text-center">1. DATOS DE IDENTIFICACIÓN DEL PUESTO</h5>
                  <br>
                  <br>
                  <div class="row">

                    <div class="col-md-6 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Codigo</label>

                        <input type="text" id="codigoPuest" name="codigoPuest" [ngModel]="codigoPuest"
                          class="form-control">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Denominacion del puesto</label>
                        <input #puesto (blur)="ComprobarPuesto(puesto.value);" type="text" id="denominacionPuest" name="denominacionPuest" ngModel class="form-control">

                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">


                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Unidad Administrativa</label>
                        <input type="text" id="unidadAdminPuest" name="unidadAdminPuest" ngModel class="form-control">

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Grupo Ocupacional</label>
                        <input disabled type="text" id="grupoOcupacionalPuest" name="grupoOcupacionalPuest" ngModel
                          class="form-control">

                        <input type="hidden" id="comprobar" name="comprobar" [ngModel]="comprobar" class="form-control">

                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                    <div class="form-group">

                      <div class="col-md-6">

                        <div class="form-group has-default">
                          <label class="control-label">Rol</label>
                          <div class="input-group">
                            <select id="rolPuest" class="form-control " name="rolPuest" [ngModel]="idRol"
                              data-title="Seleccionar" data-style="btn-default btn-block"
                              data-menu-style="dropdown-blue">

                              <option [value]="idRol" hidden="">{{descRol}}</option>
                              <option *ngFor="let rol of roles" [value]="rol._id">{{rol.descripcion}}</option>
                            </select>
                            <div class="input-group-addon">
                              <i class="fa fa-plus" data-toggle="modal" data-target="#modaladdProv"
                                style="cursor: pointer; color: #78b414;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">

                      <div class="col-md-6">

                        <div class="form-group has-default">
                          <label class="control-label">Nivel</label>
                          <div class="input-group">
                            <select id="nivelPuest" class="form-control " name="nivelPuest" ngModel
                              data-title="Seleccionar" data-style="btn-default btn-block"
                              data-menu-style="dropdown-blue">

                              <option value="empty" selected="" disabled="">- Seleccionar -</option>
                              <option value="Profesional">Profesional</option>
                              <option value="No Profesional">No Profesional</option>
                            </select>
                            <div class="input-group-addon">
                              <i class="fa " data-toggle="modal" data-target="#modaladdProv"
                                style="cursor: pointer; color: #78b414;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <br>
                  <br>
                  <div class="row">

                    <div class="col-md-6">

                      <div class="form-group has-default">
                        <label class="control-label">Grado</label>
                        <div class="input-group">
                          <select id="gradoPuest" class="form-control " name="gradoPuest" ngModel
                            data-title="Seleccionar" data-style="btn-default btn-block" data-menu-style="dropdown-blue">

                            <option value="empty" selected="" disabled="">- Seleccionar -</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                          </select>
                          <div class="input-group-addon">
                            <i class="fa " data-toggle="modal" data-target="#modaladdProv"
                              style="cursor: pointer; color: #78b414;"></i>
                          </div>
                        </div>
                      </div>
                    </div>




                    <div class="form-group">

                      <div class="col-md-6">

                        <div class="form-group has-default">
                          <label class="control-label">Ambito</label>
                          <div class="input-group">
                            <select id="ambitoPuest" class="form-control " name="ambitoPuest" [ngModel]="idAmb"
                              data-title="Seleccionar" data-style="btn-default btn-block"
                              data-menu-style="dropdown-blue">

                              <option [value]="idAmb" hidden="">{{descAmb}}</option>
                              <option *ngFor="let ambito of ambitos" [value]="ambito._id">{{ambito.descripcion}}
                              </option>
                            </select>
                            <div class="input-group-addon">
                              <i class="fa fa-plus" data-toggle="modal" data-target="#modaladdProv"
                                style="cursor: pointer; color: #78b414;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <input style="margin-top: 70px;" type="submit"
                      class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">

                  </div>
                </form>
              </div>

              <div class="tab-pane" id="tab2">
                <form #addPuestoM="ngForm" id="addM" (ngSubmit)="updPuestoMision(addPuestoM);">


                  <br>
                  <br>
                  <h5 class="text-center">2. MISIÓN</h5>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Mision del Puesto</label>

                        <textarea cols="50" rows="5" class="form-control" id="misionPuest" name="misionPuest"
                          [ngModel]="misionPuest" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">
                </form>

              </div>


              <div class="tab-pane" id="tab3">
                <form #addPuestoR="ngForm" id="addR" (ngSubmit)="updPuestoRIE(addPuestoR);">


                  <br>
                  <br>
                  <h5 class="text-center">3. RELACIONES INTERNAS Y EXTERNAS</h5>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Interfaz</label>
                        <textarea cols="50" rows="5" class="form-control" id="RIEPuest" name="RIEPuest"
                          [ngModel]="RIEPuest" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">
                </form>
              </div>


              <div class="tab-pane" id="tab4">

                <form #addExperienciaPuesto="ngForm" id="addExp" (ngSubmit)="getValorExp(addExperienciaPuesto);">


                  <br>
                  <br>
                  <h5 class="text-center">4. INSTRUCCIÓN FORMAL REQUERIDA</h5>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="control-label">Nivel de Instruccion</label>


                            <div class="form-group">

                              <div class="col-md-12">

                                <div class="form-group has-default">

                                  <div class="input-group">

                                    <select id="descExp" class="form-control " name="descExp"
                                      [ngModel]="descExp" data-title="Seleccionar"
                                      data-style="btn-default btn-block" data-menu-style="dropdown-blue">

                              <option [value]="descExp" hidden="">{{descExp}}</option>

                                    
                                      <option *ngFor="let experiencia of experiencias" [value]="experiencia.descripcion">
                                        {{experiencia.descripcion}}</option>


                                    </select>

                                    <div class="input-group-addon">
                                      <i class="fa fa-plus" data-toggle="modal" data-target="#modaladdProv"
                                        style="cursor: pointer; color: #78b414;"></i>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <select id="descExp1" class="form-control " name="descExp1" 
                                    [ngModel]="descExp1" data-title="Seleccionar" data-style="btn-default btn-block"
                                      data-menu-style="dropdown-blue">>

                                      <option [value]="descExp1" hidden="">{{descExp1}}</option>

                                      <option *ngFor="let experiencia of experiencias1" [value]="experiencia.descripcion">
                                        {{experiencia.descripcion}}</option>


                                    </select>

                                    <div class="input-group-addon">
                                      <i class="fa fa-plus" data-toggle="modal" data-target="#modaladdProv"
                                        style="cursor: pointer; color: #78b414;"></i>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <select id="descExp2" class="form-control " name="descExp2"
                                    [ngModel]="descExp2" data-title="Seleccionar" data-style="btn-default btn-block"
                                      data-menu-style="dropdown-blue">

                                      <!-- data-menu-style="dropdown-blue" onchange="selecOp(event.target.value)"> -->

                                      <option [value]="descExp2" hidden="">{{descExp2}}</option>

                                      <option *ngFor="let experiencia of experiencias2" [value]="experiencia.descripcion">
                                        {{experiencia.descripcion}}</option>


                                    </select>

                                    <div class="input-group-addon">
                                      <i class="fa fa-plus" data-toggle="modal" data-target="#modaladdProv"
                                        style="cursor: pointer; color: #78b414;"></i>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Area de Conocimiento</label>
                        <input class="form-control" type="text" name="areaExpU1" id="areaExpU1" [value]="areaExpU1" [ngModel]="areaExpU1" />
                      </div>
                    </div>
                  </div>

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">

                </form>
              </div>



              <div class="tab-pane" id="tab5">
                <form  #addPuestoexpU="ngForm" id="addexpU"
                  (ngSubmit)="ComprobarExp(addPuestoexpU);">

                  <br>
                  <br>
                  <h5 class="text-center">5. EXPERIENCIA LABORAL REQUERIDA</h5>
                  <br>
                  <br>
                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label">Nivel de Instruccion</label>
                        <input id="descExpU" [ngModel]="descExpU" disabled class="form-control" type="text" name="descExpU"
                        [value]="descExpU"/>
                        <input id="descExp1U" [ngModel]="descExp1U" disabled class="form-control" type="text" name="descExp1U"
                        [value]="descExp1U" />
                        <input id="descExp2U" [ngModel]="descExp2U" disabled class="form-control" type="text" name="descExp2U"
                          [value]="descExp2U" />
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                        <label class="control-label">Tiempo</label>
                        <input id="tiempoExp" [ngModel]="tiempoExp" class="form-control" type="number" name="tiempoExp" />
                        <input id="tiempoExp1" [ngModel]="tiempoExp1" class="form-control" type="number" name="tiempoExp1" />
                        <input id="tiempoExp2" [ngModel]="tiempoExp2" class="form-control" type="number" name="tiempoExp2" />


                      </div>
                    </div>
                    <div class="col-md-8 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Especificidad de la Experiencia</label>
                        <textarea cols="60" rows="6" class="form-control" id="especificidadExp" name="especificidadExp"
                          [ngModel]="especificidadExp" class="form-control"></textarea>
                      </div>
                    </div>


                  </div>

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">
                </form>
              </div>


              <div class="tab-pane" id="tab6">
                <form #addPuestoCap="ngForm" id="addCap" (ngSubmit)="updPuestoCapacidad(addPuestoCap);">

                  <br>
                  <br>
                  <h5 class="text-center">6. CAPACITACION REQUERIDA PARA EL PUESTO</h5>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Tématica de la capacitación</label>
                        <textarea cols="50" rows="5" class="form-control" id="capacitacionPuest"
                          name="capacitacionPuest" [ngModel]="capacitacionPuest" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">

                </form>
              </div>


              <div class="tab-pane" id="tab7">
                <br>
                <br>
                <h5 class="text-center">7. ACTIVIDADES ESENCIALES</h5>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12 col-md-offset-1">

                    <div class="col-md-12">
                      <div class="row">

                        <form #buscar="ngForm" (ngSubmit)="AdditemActEsen(buscar); buscar.reset(); "
                          class="form-horizontal">

                          <div class="col-md-12">

                            <div class="form-group has-default">

                              <div class="input-group">
                                <input id="ActividadEsencial" class="form-control " name="ActividadEsencial" ngModel
                                  data-title="Seleccionar" data-style="btn-default btn-block"
                                  data-menu-style="dropdown-blue" placeholder="Agregar Actividad">


                                <div class="input-group-addon">
                                  <input class="btn btn-info btn-fill"
                                    style="width: 30px !important; height: 39px !important;  " type="submit" value="+">
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <div id="tabla1" class="content table-responsive table-full-width">

                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Actividades Esenciales</th>
                                  <th class="td-actions text-right">Acción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let Ae of ArrayActEse; let i = index">
                                  <td>{{Ae}}</td>

                                  <td class="td-actions text-right">


                                    <a type="button" (click)="quitarItem(i)" rel="tooltip" title="Eliminar"
                                      class="btn btn-danger btn-simple btn-xs">
                                      <i class="fa fa-close"></i>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <button type="button" style="margin-top: 70px;"
                  class="btn btn-default btn-fill btn-wd btn-previous pull-left">Back</button>
                <button style="margin-top: 70px;" type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right"
                  (click)="instanciarComplemento();">Siguiente</button>

              </div>


              <div class="tab-pane" id="tab8">
                <form id="addCap" (ngSubmit)="addGruposActividadesEsenciales();">

                  <br>
                  <br>
                  <h5 class="text-center">8. CONOCIMIENTO ADICIONAL RELACIONADO A LAS ACTIVIDADES ESENCIALES</h5>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="tabla1" class="content table-responsive table-full-width">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Actividades Esenciales</th>
                              <th>Conocimiento Adicional</th>
                              <th class="td-actions text-right">Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let Ae of ArrayActEse; let i = index">

                              <td>{{Ae}}</td>
                              <td><select #valueComp (change)="selectcomp(i,valueComp.value);" select name="cities"
                                  class="form-control">
                                  <option *ngFor="let conocimiento of conocimientos" value="{{conocimiento._id}}">
                                    {{conocimiento.descripcion}}</option>

                                </select></td>
                              <td class="td-actions text-right">


                                <a type="button" (click)="quitarItem(i)" rel="tooltip" title="Eliminar"
                                  class="btn btn-danger btn-simple btn-xs">
                                  <i class="fa fa-close"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>


                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

                  <input style="margin-top: 70px;" type="submit"
                    class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">

                </form>
              </div>

              <div class="tab-pane" id="tab9">
                <form #addActividadCargo="ngForm" id="addC"
                  (ngSubmit)="addActividadesCargos(addActividadCargo); addActividadCargo.reset()">

                  <br>
                  <br>
                  <h5 class="text-center">9. ACTIVIDADES DEL PUESTO</h5>
                  <br>
                  <br>


                  <div class="row">

                    <div style=" margin-right: 18px !important;" class="col-md-6 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Actividad del Puesto</label>

                        <input type="text" id="desActCarg" name="desActCarg" [ngModel]="desActCarg"
                          class="form-control">

                      </div>
                    </div>
                    <div style=" margin-right: 18px !important;" class="col-md-1">
                      <div class="form-group">
                        <label class="control-label">FR</label>
                        <input #fr type="number" id="frActCarg" name="frActCarg" [ngModel]="frActCarg"
                          (keyup)="calcularTotal(fr.value,1);" class="form-control">

                      </div>
                    </div>
                    <div style=" margin-right: 18px !important;" class="col-md-1">
                      <div class="form-group">
                        <label class="control-label">CO</label>
                        <input #co type="number" id="coActCarg" name="coActCarg" [ngModel]="coActCarg"
                          (keyup)="calcularTotal(co.value,2);" class="form-control">

                      </div>
                    </div>
                    <div style=" margin-right: 18px !important;" class="col-md-1">
                      <div class="form-group">
                        <label class="control-label">CM</label>
                        <input #cm type="number" id="cmActCarg" name="cmActCarg" [ngModel]="cmActCarg"
                          (keyup)="calcularTotal(cm.value,3);" class="form-control">

                      </div>
                    </div>
                    <div style=" margin-right: 18px !important;" class="col-md-1">
                      <div class="form-group">
                        <label class="control-label">TOTAL</label>
                        <input disabled type="number" id="totalActCarg" name="totalActCarg" [ngModel]="totalActCarg"
                          class="form-control">

                      </div>
                    </div>

                    <div style="text-align: right;" class="col-md-1">
                      <div>
                        <input class="btn btn-info btn-fill"
                          style=" width: 30px !important; height: 39px !important;  margin-top: 25px;  " type="submit"
                          value="+">

                      </div>
                    </div>

                  </div>
                </form>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div id="tabla1" class="content table-responsive table-full-width">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Actividades del Puesto</th>
                            <th>FR</th>
                            <th>CO</th>
                            <th>CM</th>
                            <th>TOTAL</th>


                            <th class="td-actions text-right">Acción</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let actividadCargo of actividadesCargos">

                          <tr>
                            <td class="{{actividadCargo.estado}}">{{actividadCargo.descripcion}}</td>
                            <td class="{{actividadCargo.estado}}">{{actividadCargo.fr}}</td>
                            <td class="{{actividadCargo.estado}}">{{actividadCargo.co}}</td>
                            <td class="{{actividadCargo.estado}}">{{actividadCargo.cm}}</td>
                            <td class="{{actividadCargo.estado}}">{{actividadCargo.total}}</td>

                            <td class="td-actions text-right">

                              <!-- <a type="button" rel="tooltip" title="Editar"
                                (click)="getDataActividadCargo(actividadCargo)" data-toggle="modal"
                                data-target="#modalupdActividadCargo" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-edit"></i>
                              </a> -->

                              <a type="button" rel="tooltip" title="Eliminar"
                                (click)="eliminarActividadCargo(actividadCargo._id)"
                                class="btn btn-danger btn-simple btn-xs">
                                <i class="fa fa-close"></i>
                              </a>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <input style="margin-top: 70px;" type="submit"
                class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

              <input style="margin-top: 70px;" type="submit"
                class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">


              </div>

             

             
                <div class="tab-pane" id="tab10">
                
                  <form #addCompetenciaTec="ngForm" id="addC"
                  (ngSubmit)="addCompTecPuestos(addCompetenciaTec); addCompetenciaTec.reset()">

                  <br>
                  <br>
                  <h5 class="text-center">10. COMPTENCIAS TECNICAS</h5>
                  <br>
                  <br>


                  <div class="row">

                    <div style=" margin-right: 18px !important;" class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Denominacion de la Competencia</label>

                        <select #CompTc id="competenciaCt" (change)="selectDenominaT(CompTc.value);" class="form-control " name="competenciaCt" [ngModel]="competenciaCt" data-title="Seleccionar" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                          <option hidden value="empty">seleccionar</option>
                                  <option  *ngFor="let competenciaTecnica of competenciasTecnicas"  [value]="competenciaTecnica._id">{{competenciaTecnica.denominacion}}</option>
                                </select>

                      </div>
                    </div>
                  
                    <div style=" margin-right: 18px !important;" class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Nivel</label>
                        <select #Compveri (change)="verificarId(Compveri.value);"  id="CompTecObs" name="CompTecObs" ngModel select 
                        class="form-control">
                        <option hidden value="empty">seleccionar</option>
                        <option  *ngFor="let ctcomportamiento of ctcomportamientos"  [value]="ctcomportamiento._id">{{ctcomportamiento.nivel}}</option>


                      </select>


                      </div>
                    </div>
                            <div style="text-align: right;" class="col-md-1">
                      <div>
                        <input class="btn btn-info btn-fill"
                          style=" width: 30px !important; height: 39px !important;  margin-top: 25px;  " type="submit"
                          value="+">

                      </div>
                    </div>

                  </div>
                </form>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div id="tabla1" class="content table-responsive table-full-width">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Denominacion de la Competencia</th>
                            <th>Nivel</th>
                            <th>Comportamiento Observable</th>


                            <th class="td-actions text-right">Acción</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let bcomptecPuesto of bcomptecPuestos">


                          <tr>
                            <td class="{{bcomptecPuesto.estado}}">{{bcomptecPuesto.compTecObs.competenciaTecnica.denominacion}}</td>
                            <td class="{{bcomptecPuesto.estado}}">{{bcomptecPuesto.compTecObs.nivel}}</td>
                            <td class="{{bcomptecPuesto.estado}}">{{bcomptecPuesto.compTecObs.comportamiento}}</td>

                            <td class="td-actions text-right">

                              <!-- <a type="button" rel="tooltip" title="Editar"data-toggle="modal"
                                data-target="#modalupdActividadCargo" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-edit"></i>
                              </a> -->

                              <a type="button" rel="tooltip" title="Eliminar"
                                (click)="elimarCompTecPuesto(bcomptecPuesto._id)"
                                class="btn btn-danger btn-simple btn-xs">
                                <i class="fa fa-close"></i>
                              </a>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
               
                <input style="margin-top: 70px;" type="submit"
                class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

              <input style="margin-top: 70px;" type="submit"
                class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">

                </div> 

                <div class="tab-pane" id="tab11">
                
                  <form #addCompetenciaCon="ngForm" id="addCC"
                  (ngSubmit)="addCompCondPuestos(addCompetenciaCon); addCompetenciaCon.reset()">

                  <br>
                  <br>
                  <h5 class="text-center">11. COMPTENCIAS CONDUCTULES</h5>
                  <br>
                  <br>


                  <div class="row">

                    <div style=" margin-right: 18px !important;" class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Denominacion de la Competencia</label>

                        <select #CompCc id="competenciaCc" (change)="selectDenominaC(CompCc.value);" class="form-control " name="competenciaCc" [ngModel]="competenciaCc" data-title="Seleccionar" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                          <option hidden value="empty">seleccionar</option>
                                  <option  *ngFor="let competenciaConductual of competenciasConductuales"  [value]="competenciaConductual._id">{{competenciaConductual.denominacion}}</option>
                                </select>

                      </div>
                    </div>
                  
                    <div style=" margin-right: 18px !important;" class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Nivel</label>
                        <select  id="compCondObs" name="compCondObs" ngModel select 
                        class="form-control">
                        <option hidden value="empty">seleccionar</option>
                        <option  *ngFor="let cccomportamiento of cccomportamientos"  [value]="cccomportamiento._id">{{cccomportamiento.nivel}}</option>


                      </select>


                      </div>
                    </div>
                            <div style="text-align: right;" class="col-md-1">
                      <div>
                        <input class="btn btn-info btn-fill"
                          style=" width: 30px !important; height: 39px !important;  margin-top: 25px;  " type="submit"
                          value="+">

                      </div>
                    </div>

                  </div>
                </form>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div id="tabla1" class="content table-responsive table-full-width">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Denominacion de la Competencia</th>
                            <th>Nivel</th>
                            <th>Comportamiento Observable</th>


                            <th class="td-actions text-right">Acción</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let bcompcondPuesto of bcompcondPuestos"> 


                          <tr>
                            <td class="{{bcompcondPuesto.estado}}">{{bcompcondPuesto.compCondObs.competenciaConductual.denominacion}}</td>
                            <td class="{{bcompcondPuesto.estado}}">{{bcompcondPuesto.compCondObs.nivel}}</td>
                            <td class="{{bcompcondPuesto.estado}}">{{bcompcondPuesto.compCondObs.comportamiento}}</td>

                            <td class="td-actions text-right">

                              <!-- <a type="button" rel="tooltip" title="Editar"data-toggle="modal"
                                data-target="#modalupdActividadCargo" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-edit"></i>
                              </a> -->


                              <a type="button" rel="tooltip" title="Eliminar"
                                (click)="eliminarCompCondPuesto(bcompcondPuesto._id)"
                                class="btn btn-danger btn-simple btn-xs">
                                <i class="fa fa-close"></i>
                              </a>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
               
                <input style="margin-top: 70px;" type="submit"
                class="btn btn-default btn-fill btn-wd btn-previous pull-left" value="Regresar">

              <input style="margin-top: 70px;" type="submit"
                class="btn btn-info btn-fill btn-wd btn-next pull-right" value="Siguiente">
                </div> 
            </div>
          </div>
          <div class="footer">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


 <!-- Modal para modificar nuevos -->
 <!-- 
 <div class="modal fade" *ngIf="dataUpdActCarg == true" id="modalupdActividadCargo" tabindex="-1"
 role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog modal-sm" role="document">
   <form #updActividadCargo="ngForm" id="updC" (ngSubmit)="updActividadesCargos(updActividadCargo)">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Modificar Actividades Cargo</h5>
         <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
      
       <div class="modal-body ">
         <div class="row">
           <label class="col-md-4 col-form-label" style="margin-top: 10px;">descripcion:</label>
           <div class="col-md-8">
             <div class="form-group has-default">
               <input type="text" id="desActCargU" name="desActCargU" [ngModel]="desActCargU"
                 class="form-control">
             </div>
           </div>
         </div>
       </div>
       <div class="modal-body ">
         <div class="row">
           <label class="col-md-4 col-form-label" style="margin-top: 10px;">FR:</label>
           <div class="col-md-8">
             <div class="form-group has-default">
               <input type="text" id="frActCargU" name="frActCargU" [ngModel]="frActCargU"
                 class="form-control">
             </div>
           </div>
         </div>
         <div class="row">
           <label class="col-md-4 col-form-label" style="margin-top: 10px;">CO:</label>
           <div class="col-md-8">
             <div class="form-group has-default">
               <input type="text" id="coActCargU" name="coActCargU" [ngModel]="coActCargU"
                 class="form-control">
             </div>
           </div>
         </div>
         <div class="row">
           <label class="col-md-4 col-form-label" style="margin-top: 10px;">CM:</label>
           <div class="col-md-8">
             <div class="form-group has-default">
               <input type="text" id="cmActCargU" name="cmActCargU" [ngModel]="cmActCargU"
                 class="form-control">
             </div>
           </div>
         </div>
         <div class="row">
           <label class="col-md-4 col-form-label" style="margin-top: 10px;">Total:</label>
           <div class="col-md-8">
             <div class="form-group has-default">
               <input type="text" id="totalActCargU" name="totalActCargU" [ngModel]="totalActCargU"
                 class="form-control">
             </div>
           </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         <button type="submit" class="btn btn-success" id="updActividadesCargos"
           name="updActividadesCargos">Modificar</button>
       </div>
     </div>
   </form>
 </div>
</div> -->